/* header : menu */
#header-menu_overview {
    flex: 1;
    position: relative;
    top: 25%;
    font-family: Antonio;
    font-size: 16;
    text-align: center;
    text-decoration:underline;
    color:#888888;
    cursor: pointer;
}

/* Updated info */
#div_updated_info {
    position: relative;
    margin: 0 auto;
    margin-top: 8%;
    width: 95%;
    height: 5%;
    border: 1px;

    z-index: -1;
}

/* Contents */
#section_contents {
    position: relative;
    display: flex;
    justify-content: space-around;
    
    margin: 0 auto;
    width: 95%;
    z-index: -1;
}
.content {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
}
.content_name {
    font-family: Antonio;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
.p_content_total {
    font-family: Antonio;
    font-size: 18px;
    margin-top: 40px;
    color: white;
    text-align: center;  
}
.p_content_diff {
    font-family: Antonio;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
    text-align: center;  
}

.chart-container { 
    position: relative;
    margin: 0 auto;
    margin-bottom: 10%;
    width: 80%;
    height: 400px;
    border: 1px solid #000;
    background-color: black;
    padding: 10px;
    border-radius: 4px;

    z-index: -1;
}