/* header : menu */
#header-menu_reference {
    flex: 1;
    position: relative;
    top: 25%;
    font-family: Antonio;
    font-size: 16;
    color: white;
    text-align: center;
    text-decoration:underline;
    color:#888888;
    cursor: pointer;
}

#section_reference_info {
    position: relative;
    margin: 0 auto;
    margin-top: 7%;

    width: 90%;

}

p {
    color: white;
}